<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<h1>Lista de Produtos</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Status</th>
            <th>Destinação</th>
            <th>Rentabilidade</th>
            <th>Prazo</th>
            <th>Taxa de Administração</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {{#each produtos}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.nome}}</td>
            <td>{{this.status}}</td>
            <td>{{this.destinacao}}</td>
            <td>{{this.rentabilidade}}</td>
            <td>{{this.prazo}}</td>
            <td>{{this.taxaAdministracao}}</td>
            <td>
                <div class="btn-group">
                    <button onclick="excluirProduto('{{this.id}}')" class="btn btn-danger">Excluir</button>
                    <form method="GET" action="/produtos/status/{{this.id}}">
                        {{!-- <input type="hidden" name="_method" value="PATCH"> --}}
                        <button type="submit" class="btn btn-warning">Alternar Status</button>
                    </form>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
